body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #45cd23;
  padding: 1em;
  color: #000;
  text-align: center;
}

footer {
  background-color: #59d437;
  padding: 1em;
  color: #000;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer p {
 background-color: #24c512;
  padding: 0.5em;
  border-radius: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1em;
}

.product {
  border: 1px solid #d4af37;
  padding: 1em;
  text-align: center;
}

.product img {
  width: 100%;
  height: auto;
}
